{% extends "base_generic.html" %}

{% block content %}

<div class="container">
  <ol class="breadcrumb my-4">    
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Manager</a></li>
    <li class="breadcrumb-item"><a href="{% url 'guard' %}">Guard View</a></li>
    <li class="breadcrumb-item"><a href="{{ guard.get_absolute_url }}">{{ guard }}</a></li>
    <li class="breadcrumb-item active">Delete</li>
  </ol>
  <p>Are you sure you want to delete the guard: {{ guard }}?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Yes, Delete</button>
  </form>
</div>
{% endblock %}