{% extends 'base_generic.html' %}

{% block title %}<title>Site Created</title>{% endblock %}

{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Guard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'schedule' %}">Schedule View</a></li>
      <li class="breadcrumb-item"><a href="{% url 'schedule_create' %}">Create Schedule</a></li>
      <li class="breadcrumb-item active">Success</li>
    </ol>
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Schedule has been created!
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Return to home page</a>
</div>
{% endblock %}